.notification {
    flex: 1;
    white-space: pre;
    z-index: 3;
    border-radius: 1rem;
    animation: flash 7500ms ease infinite alternate;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 1rem;
    margin: 0 1rem 1rem 0;
    text-wrap: auto;
    max-width: 60vw;
    margin-inline: auto;
    width: fit-content;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

.error {
    background-color: rgba(221, 114, 114, 0.9);
    box-shadow:
        0px 2px 4px rgba(45, 35, 66, 0.4) ,
        0px 7px 13px -3px rgba(45, 35, 66, 0.3) ,
        inset 0px 3px 0px 0px rgba(146, 93, 103, 1);
}

.success {
    background-color: rgba(0, 128, 0, 0.9);
    box-shadow:
        0px 2px 4px 0px limegreen,
        0px 7px 13px -3px limegreen,
        inset 0px -3px 0px 0px lightgreen;
}

.neutral {
    background-color: rgba(255, 255, 0, 0.9);
    box-shadow:
        0px 2px 4px rgba(0, 139, 139, 1),
        7px 13px 3px rgba(255, 255, 224, 1),
        inset -3px 0px 0px 0px rgba(154, 205, 50, 1);
}

.move-out {
    animation: move-out 0.8s ease-in-out 0s;
    animation-iteration-count: 1;
}

.move-in {
    animation: move-in 0.8s ease-in-out 0s;
    animation-iteration-count: 1;
}

@keyframes move-out {
    0% {
        transform: translateX(0%);
        opacity: 1;
    }
    65% {
        transform: translateX(-10%);
        opacity: 1;
    }
    100% {
        transform: translateX(200%);
        opacity: 0.0;
    }
}

@keyframes move-in {
    0% {
        transform: translateX(200%);
        opacity: 0.0;
    }
    65% {
        transform: translateX(-10%);
        opacity: 1;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@media (max-width: 800px) {
    .notification {
        max-width: 85vw;
        font-size: 1rem
    }
}