.special-effect {
    display: flex;
    margin: 4em 0.5em 0 0.5em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 7em;
}
.special-effect .button {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
    width: 6em;
    aspect-ratio: 1;
    display: flex;
    border-radius: 100%;
    pointer-events: all;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}
.special-effect .button .icon {
    width: 4em;
    aspect-ratio: 1;
    object-fit: contain;
}

.special-effect .label {
    z-index: 5;
    height: 4rem;
    width: inherit;
    word-wrap: break-word;
}

.cancel {
    color: darkred;
    text-shadow:
    2px -2px 0px #fff700,
    -2px 2px 0px #fff700,
    2px 2px 0px #fff700,
    -2px -2px 0px #fff700,
    0px 2px #fff700,
    0px 2px #fff700,
    2px 0px #fff700,
    -2px 0px #fff700;
    animation: label-in-out 0.5s ease-in-out infinite alternate-reverse;
}

.special-effect .button:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.special-effect .button:active {
    animation: clickAnimation 0.25s forwards;
}
.special-effect .selected {
    animation: selected 1.2s ease-in-out infinite;
}
.overlay-effect {
    opacity: 0.1;
    aspect-ratio: 1;
    position: absolute;
    top: 30vh;
    right: 10vw;
    width: 20em;
    animation: overlay-selected 5s ease-in-out infinite;
}
@keyframes label-in-out {
    from {
        transform: scale(1.4);
    }
    to {
        transform: scale(1.5);
    }
}
@keyframes selected {
    0% {
        rotate: 0deg;
        transform: scale(1);
        box-shadow: 0px 0px 40px 20px rgba(255, 46, 206, 0.75);
    }
    30% {
        rotate: 6deg;
        transform: scale(1.1);
        box-shadow: 0px 0px 30px 15px rgba(213, 46, 255, 0.75);
    }
    50% {
        rotate: 2deg;
        transform: scale(1);
        box-shadow: 0px 0px 20px 5px rgba(255, 46, 46, 0.75);
    }
    70% {
        rotate: -6deg;
        transform: scale(1.1);
        box-shadow: 0px 0px 30px 15px rgba(213, 46, 255, 0.75);
    }
    100% {
        rotate: 0deg;
        transform: scale(1);
        box-shadow: 0px 0px 40px 20px rgba(255, 46, 206, 0.75);
    }
}
@keyframes overlay-selected {
    0% {
        transform: scale(0.9);
        filter: blur(2px);
        background: radial-gradient(rgba(255, 46, 206, 0.75), rgba(255, 46, 206, 0));
    }
    40% {
        transform: scale(1.1);
        filter: blur(5px);
        background: radial-gradient(rgba(213, 46, 255, 0.75), rgba(255, 46, 206, 0));
    }
    80% {
        transform: scale(1);
        filter: blur(8px);
        background: radial-gradient(rgba(255, 46, 206, 0.75), rgba(255, 46, 206, 0));
    }
    100% {
        transform: scale(0.9);
        filter: blur(2px);
        background: radial-gradient(rgba(255, 46, 206, 0.75), rgba(255, 46, 206, 0));
    }
}
@keyframes clickAnimation {
    0% {
        transform: rotate(0deg);
    }
    30% {
        transform: rotate(50deg);
    }
    100% {
        transform: rotate(10deg);
    }
}

@media (max-width: 800px) {
    .special-effect {
        width: 6em;
        margin: 4em 0 0 0em;
    }
    .special-effect .button {
        width: 4em;
    }
    .special-effect .button .icon {
        width: 3em;
    }
    .special-effect .label {
        font-size: 0.85em;
        height: 3em;
    }
}