#instructions {
  background: linear-gradient(0deg, #00000088 30%, #ffffff44 100%);
  background-color: rgb(0, 0, 0, 0.4);
  color: white;
  overflow-x: hidden;
  overflow-y: scroll;

  /* Negative margins to close the white space */
  margin-top: -1vw;
  margin-bottom: -1vw;
  margin-left: -2vw;
  margin-right: -2vw;
}

.section-text {
  display: flex;
  text-align: left;
  padding-left: 2vw;
  padding-right: 2vw;
}

.entry-text {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

@media only screen and (max-width: 600px) {
  #instructions {
    margin-top: -4vw;
    margin-bottom: -4vw;
    margin-left: -8vw;
    margin-right: -8vw;
  }
}


