#instructions {
    background-color: #333333;
    color: white;
    overflow-y: auto;
}

.instruction-container {
    display: flex;
    flex-direction: column;
    max-height: 60vh;
}

.section-text {
    display: flex;
    flex-flow: column;
    text-align: left;
    margin-right: 2vw;
}

.entry-text {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.entry-image {
    height: 12em;
}

.sponsor-container .icon {
    margin-bottom: 1em;
    width: 12em;
}

@media only screen and (max-width: 800px) {
    .section-text {
        font-size: 0.8em;
    }
    .sponsor-container {
        font-size: small;
    }
    .sponsor-container .icon {
        margin-bottom: 1em;
        width: 8em;
    }
    .entry-image {
        height: 8em;
    }
}
