#instructions {
    background-color: #333333;
    color: white;

    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
}

.section-text {
    display: flex;
    flex-flow: column;
    text-align: left;
    padding-left: 2vw;
    padding-right: 2vw;
    max-height: 60vh;
    max-width: 60vw;
}

.entry-text {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.sponsor-container .icon {
    margin-bottom: 1em;
    width: 12em;
}

@media only screen and (max-width: 800px) {
    .section-text {
        font-size: 0.8em;
    }
    .sponsor-container {
        font-size: small;
    }
    .sponsor-container .icon {
        margin-bottom: 1em;
        width: 8em;
    }
}
