.ctf-wrapper {
  display: grid;
  margin-top: 5%;
  animation: slide-in 0.5s ease-out forwards;
}

.ctf-input {
  height: 35px;
  text-align: center;
  color: white;
  font-family: "Press Start 2p";
  border-radius: 8px;
  background-color: #000000;
}
