/* Top Overlay */

.top-overlay {
    flex: 1;
    display: flex;
    padding-bottom: 2.5rem;
    padding-inline: 1rem;
    padding-top: 2rem;
}

.top-overlay__left {
    flex: 1;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-size: x-small;
    color: #ffffff;
    text-shadow:
        -2px 2px #000000,
        2px 2px #000000,
        2px -2px #000000,
        -2px -2px #000000;
}

.top-overlay__score-title {
    text-align: left;
    color: #00fff0;
}

.top-overlay__scores-container {
    padding-bottom: 8px;
}

.top-overlay__score-container {
    transition: all 0.5s;
    display: flex;
    gap: 0.5rem;
}

.top-overlay__score-button {
    width: fit-content;
    font-size: xx-small;
    padding: 8px;
    pointer-events: all;
}

.top-overlay__middle {
    flex: 1;
    display: flex;
    justify-content: right;
    gap: 0.5rem;
    flex-direction: column;
    position: relative;
    font-size: large;
}

.top-overlay__right {
    flex: 1;
    display: flex;
    text-align: start;
    justify-content: space-evenly;
    color: white;
}

.top-overlay__right__bucket {
    width: 2.5rem;
    height: 2.5rem;
}

.top-overlay__right__spans {
    display: flex;
    flex-direction: column;
    z-index: 1;
    text-shadow:
        -2px 2px #000000,
        2px 2px #000000,
        2px -2px #000000,
        -2px -2px #000000;
}

/* Bottom Overlay */

.bottom-overlay {
    flex: 1;
    overflow-x: auto;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    font-size: small;
}

.bottom-overlay__right {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: end;
    padding: 2%;
}

.bottom-overlay__right__help {
    object-fit: contain;
    pointer-events: all;
    height: 4rem;
}

.bottom-overlay__right__help:hover {
    cursor: pointer;
}

.bottom-overlay__imgwrapper {
  pointer-events: all;
  z-index: 10;
  display: flex;
  justify-content: center;
}

.bottom-overlay__imgwrapper:hover {
  cursor: pointer;
}

.bottom-overlay__middle {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 0.5rem;
    position: relative;
    font-size: large;
}

.bottom-overlay__left {
    transition: all 0.5s;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-size: x-small;
}

/* Overlay */
.overlay {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}

/* CTF */
.ctf-icon {
    justify-content: left;
    pointer-events: all;
}

.ctf-icon:hover {
    cursor: pointer;
}

.ctf-container {
    display: grid;
}
