@font-face {
  font-family: "Press Start 2P";
  src: local("Press Start 2P"), url("./assets/PressStart2P-Regular.ttf");
}

body {
  font-family: "Press Start 2P", sans-serif;
  background-color: #d9d9d9;
  color: black;
  text-align: center;
  box-sizing: border-box;
}
